.bodyProductos{
    background-color: $colorvioleta;
    

}
.producto {
    width: 400px;
    border: solid 1px;
    border-color: $colorceleste;
    border-radius: 5px;
    overflow: hidden;
    background-color:$colorceleste; 
}
  
.producto__titulo {
    margin: 10px;
    font-size: 20px;
    color: $coloramarillo; 
    font-family: 'Nunito', sans-serif;
}
  
.producto__conte {
    margin: 10px;
    color: white;
    font-size: 12;
    font-family: 'Nunito', sans-serif; 
}
  
.producto__btn {
    text-align: center;
    padding: 10px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    background-color: $coloramarillo;
    color: $colorvioleta;
    text-decoration: none;
    font-size: 10px; 
    font-family: 'Nunito', sans-serif;   
}
    